header {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* header li {
  text-align: center;
} */
