.aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -40px;
  gap: 2.5rem;
}

.aboutme > img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;

}

.contact {
  font-size: 17px;
  font-style: italic;
}

.aboutme > p {
  max-width: 700px;
  text-align: center;
  font-size: 17px;
}

.aboutme > ul {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.aboutme li {
  display: flex;
  align-items: center;
  padding: 2px 8px;
  background-color: var(--body);
  border-radius: 1rem;
  color: var(--background);
}

.aboutme li i {
  margin-right: 8px;
  font-size: 20px;
}

.aboutme li p {
  margin: 0;
}
